<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pp.pokemon.pm.dao.mapper.pokemon.EvolvePokemonRelMapper">
  <resultMap id="BaseResultMap" type="pp.pokemon.pm.dao.entity.pokemon.EvolvePokemonRel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pokemon_id" jdbcType="INTEGER" property="pokemonId" />
    <result column="before_id" jdbcType="INTEGER" property="beforeId" />
    <result column="condition" jdbcType="VARCHAR" property="condition" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pokemon_id, before_id, condition
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from evolve_pokemon_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from evolve_pokemon_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pp.pokemon.pm.dao.entity.pokemon.EvolvePokemonRel">
    insert into evolve_pokemon_rel (id, pokemon_id, before_id, 
      condition)
    values (#{id,jdbcType=INTEGER}, #{pokemonId,jdbcType=INTEGER}, #{beforeId,jdbcType=INTEGER}, 
      #{condition,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pp.pokemon.pm.dao.entity.pokemon.EvolvePokemonRel">
    insert into evolve_pokemon_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pokemonId != null">
        pokemon_id,
      </if>
      <if test="beforeId != null">
        before_id,
      </if>
      <if test="condition != null">
        condition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pokemonId != null">
        #{pokemonId,jdbcType=INTEGER},
      </if>
      <if test="beforeId != null">
        #{beforeId,jdbcType=INTEGER},
      </if>
      <if test="condition != null">
        #{condition,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pp.pokemon.pm.dao.entity.pokemon.EvolvePokemonRel">
    update evolve_pokemon_rel
    <set>
      <if test="pokemonId != null">
        pokemon_id = #{pokemonId,jdbcType=INTEGER},
      </if>
      <if test="beforeId != null">
        before_id = #{beforeId,jdbcType=INTEGER},
      </if>
      <if test="condition != null">
        condition = #{condition,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pp.pokemon.pm.dao.entity.pokemon.EvolvePokemonRel">
    update evolve_pokemon_rel
    set pokemon_id = #{pokemonId,jdbcType=INTEGER},
      before_id = #{beforeId,jdbcType=INTEGER},
      condition = #{condition,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPokemonId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from evolve_pokemon_rel
    where pokemon_id = #{pokemonId,jdbcType=INTEGER}
  </select>
  <select id="selectByBeforeId" resultType="pp.pokemon.pm.dao.entity.pokemon.EvolvePokemonRel">
    select
    <include refid="Base_Column_List" />
    from evolve_pokemon_rel
    where before_id = #{beforeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPokemonId" parameterType="java.lang.Integer">
    delete from evolve_pokemon_rel
    where pokemon_id = #{pokemonId,jdbcType=INTEGER}
  </delete>
</mapper>