<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pp.pokemon.pm.dao.mapper.pokemon.MachineSkillRelMapper">
  <resultMap id="BaseResultMap" type="pp.pokemon.pm.dao.entity.pokemon.MachineSkillRel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="skill_id" jdbcType="INTEGER" property="skillId" />
    <result column="pokemon_id" jdbcType="INTEGER" property="pokemonId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, skill_id, pokemon_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from machine_skill_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from machine_skill_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pp.pokemon.pm.dao.entity.pokemon.MachineSkillRel">
    insert into machine_skill_rel (id, skill_id, pokemon_id
      )
    values (#{id,jdbcType=INTEGER}, #{skillId,jdbcType=INTEGER}, #{pokemonId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="pp.pokemon.pm.dao.entity.pokemon.MachineSkillRel">
    insert into machine_skill_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="skillId != null">
        skill_id,
      </if>
      <if test="pokemonId != null">
        pokemon_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="skillId != null">
        #{skillId,jdbcType=INTEGER},
      </if>
      <if test="pokemonId != null">
        #{pokemonId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pp.pokemon.pm.dao.entity.pokemon.MachineSkillRel">
    update machine_skill_rel
    <set>
      <if test="skillId != null">
        skill_id = #{skillId,jdbcType=INTEGER},
      </if>
      <if test="pokemonId != null">
        pokemon_id = #{pokemonId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pp.pokemon.pm.dao.entity.pokemon.MachineSkillRel">
    update machine_skill_rel
    set skill_id = #{skillId,jdbcType=INTEGER},
      pokemon_id = #{pokemonId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectSkillsByPokemonId" resultType="pp.pokemon.pm.dao.vo.pokemon.MachineSkillRespVo" parameterType="java.lang.Integer">
    select
      machine_skill_rel.skill_id id,
      skill.cn_name name,
      skill.machine_skill_code machineSkillCode
    from machine_skill_rel
    left join skill on machine_skill_rel.skill_id = skill.id
    where machine_skill_rel.pokemon_id = #{pokemonId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPokemonId" parameterType="java.lang.Integer">
    delete from machine_skill_rel
    where pokemon_id = #{pokemonId,jdbcType=INTEGER}
  </delete>
</mapper>