<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pp.pokemon.pm.dao.mapper.pokemon.PokemonAttachmentRelMapper">
  <resultMap id="BaseResultMap" type="pp.pokemon.pm.dao.entity.pokemon.PokemonAttachmentRel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pokemon_id" jdbcType="INTEGER" property="pokemonId" />
    <result column="attachment_id" jdbcType="INTEGER" property="attachmentId" />
    <result column="module" jdbcType="INTEGER" property="module" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="kind" jdbcType="INTEGER" property="kind" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pokemon_id, attachment_id, module, type, kind
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pokemon_attachment_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pokemon_attachment_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pp.pokemon.pm.dao.entity.pokemon.PokemonAttachmentRel">
    insert into pokemon_attachment_rel (id, pokemon_id, attachment_id, 
      module, type, kind)
    values (#{id,jdbcType=INTEGER}, #{pokemonId,jdbcType=INTEGER}, #{attachmentId,jdbcType=INTEGER}, 
      #{module,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{kind,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pp.pokemon.pm.dao.entity.pokemon.PokemonAttachmentRel">
    insert into pokemon_attachment_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pokemonId != null">
        pokemon_id,
      </if>
      <if test="attachmentId != null">
        attachment_id,
      </if>
      <if test="module != null">
        module,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="kind != null">
        kind,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pokemonId != null">
        #{pokemonId,jdbcType=INTEGER},
      </if>
      <if test="attachmentId != null">
        #{attachmentId,jdbcType=INTEGER},
      </if>
      <if test="module != null">
        #{module,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="kind != null">
        #{kind,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pp.pokemon.pm.dao.entity.pokemon.PokemonAttachmentRel">
    update pokemon_attachment_rel
    <set>
      <if test="pokemonId != null">
        pokemon_id = #{pokemonId,jdbcType=INTEGER},
      </if>
      <if test="attachmentId != null">
        attachment_id = #{attachmentId,jdbcType=INTEGER},
      </if>
      <if test="module != null">
        module = #{module,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="kind != null">
        kind = #{kind,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pp.pokemon.pm.dao.entity.pokemon.PokemonAttachmentRel">
    update pokemon_attachment_rel
    set pokemon_id = #{pokemonId,jdbcType=INTEGER},
      attachment_id = #{attachmentId,jdbcType=INTEGER},
      module = #{module,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      kind = #{kind,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByParam" parameterType="pp.pokemon.pm.dao.vo.pokemon.PokemonAttachmentReqVo" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from pokemon_attachment_rel
    <where>
      <if test="id != null">
        pokemon_id = #{id,jdbcType=INTEGER}
      </if>
      <if test="type != null">
        and type = #{type,jdbcType=INTEGER}
      </if>
      <if test="kind != null">
        and kind = #{kind,jdbcType=INTEGER}
      </if>
    </where>
  </select>
</mapper>