<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pp.pokemon.pm.dao.mapper.pokemon.SkillMapper">
  <resultMap id="BaseResultMap" type="pp.pokemon.pm.dao.entity.pokemon.Skill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cn_name" jdbcType="VARCHAR" property="cnName" />
    <result column="jp_name" jdbcType="VARCHAR" property="jpName" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="property" jdbcType="VARCHAR" property="property" />
    <result column="classification" jdbcType="VARCHAR" property="classification" />
    <result column="power" jdbcType="INTEGER" property="power" />
    <result column="hit_probability" jdbcType="INTEGER" property="hitProbability" />
    <result column="PP" jdbcType="INTEGER" property="pp" />
    <result column="is_machine_skill" jdbcType="INTEGER" property="isMachineSkill" />
    <result column="machine_skill_code" jdbcType="VARCHAR" property="machineSkillCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cn_name, jp_name, en_name, property, classification, power, hit_probability, 
    PP, is_machine_skill, machine_skill_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from skill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from skill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pp.pokemon.pm.dao.entity.pokemon.Skill">
    insert into skill (id, cn_name, jp_name, 
      en_name, property, classification, 
      power, hit_probability, PP, 
      is_machine_skill, machine_skill_code)
    values (#{id,jdbcType=INTEGER}, #{cnName,jdbcType=VARCHAR}, #{jpName,jdbcType=VARCHAR}, 
      #{enName,jdbcType=VARCHAR}, #{property,jdbcType=VARCHAR}, #{classification,jdbcType=VARCHAR}, 
      #{power,jdbcType=INTEGER}, #{hitProbability,jdbcType=INTEGER}, #{pp,jdbcType=INTEGER}, 
      #{isMachineSkill,jdbcType=INTEGER}, #{machineSkillCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pp.pokemon.pm.dao.entity.pokemon.Skill">
    insert into skill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cnName != null">
        cn_name,
      </if>
      <if test="jpName != null">
        jp_name,
      </if>
      <if test="enName != null">
        en_name,
      </if>
      <if test="property != null">
        property,
      </if>
      <if test="classification != null">
        classification,
      </if>
      <if test="power != null">
        power,
      </if>
      <if test="hitProbability != null">
        hit_probability,
      </if>
      <if test="pp != null">
        PP,
      </if>
      <if test="isMachineSkill != null">
        is_machine_skill,
      </if>
      <if test="machineSkillCode != null">
        machine_skill_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cnName != null">
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="jpName != null">
        #{jpName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="property != null">
        #{property,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        #{classification,jdbcType=VARCHAR},
      </if>
      <if test="power != null">
        #{power,jdbcType=INTEGER},
      </if>
      <if test="hitProbability != null">
        #{hitProbability,jdbcType=INTEGER},
      </if>
      <if test="pp != null">
        #{pp,jdbcType=INTEGER},
      </if>
      <if test="isMachineSkill != null">
        #{isMachineSkill,jdbcType=INTEGER},
      </if>
      <if test="machineSkillCode != null">
        #{machineSkillCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pp.pokemon.pm.dao.entity.pokemon.Skill">
    update skill
    <set>
      <if test="cnName != null">
        cn_name = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="jpName != null">
        jp_name = #{jpName,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="property != null">
        property = #{property,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        classification = #{classification,jdbcType=VARCHAR},
      </if>
      <if test="power != null">
        power = #{power,jdbcType=INTEGER},
      </if>
      <if test="hitProbability != null">
        hit_probability = #{hitProbability,jdbcType=INTEGER},
      </if>
      <if test="pp != null">
        PP = #{pp,jdbcType=INTEGER},
      </if>
      <if test="isMachineSkill != null">
        is_machine_skill = #{isMachineSkill,jdbcType=INTEGER},
      </if>
      <if test="machineSkillCode != null">
        machine_skill_code = #{machineSkillCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pp.pokemon.pm.dao.entity.pokemon.Skill">
    update skill
    set cn_name = #{cnName,jdbcType=VARCHAR},
      jp_name = #{jpName,jdbcType=VARCHAR},
      en_name = #{enName,jdbcType=VARCHAR},
      property = #{property,jdbcType=VARCHAR},
      classification = #{classification,jdbcType=VARCHAR},
      power = #{power,jdbcType=INTEGER},
      hit_probability = #{hitProbability,jdbcType=INTEGER},
      PP = #{pp,jdbcType=INTEGER},
      is_machine_skill = #{isMachineSkill,jdbcType=INTEGER},
      machine_skill_code = #{machineSkillCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>